body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
}

.container {
  text-align: center;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.logo {
  width: 100px;
  margin: 20px auto;
  display: block;
}

h1 {
  font-size: 1.8rem;
  color: #333;
  font-family: 'Comic Sans MS', cursive;
}

.qr-section {
  margin: 20px 0;
}

.qr-code {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin: 10px 0;
}

.help-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.help-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.imageConv{
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.btnM{
  display: flex;
  justify-content:space-around;
}

.imagMicrof{
  width: 200px;
  height: 90px;
  border-radius: 50%;
}
.imagUser{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
}

.containerP{
  max-width: 800px;
  
}
.headerStyle {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.modal-content button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:first-of-type {
  background-color: #49C3DE;
  color: white;
}

.modal-content button:last-of-type {
  background-color: #ccc;
  color: black;
}
#chat-container {
  width: 400px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#chat-header {
  background: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
}
#chat {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}
.message {
  padding: 8px 10px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 70%;
}
.message.sender {
  background: #007bff;
  color: #fff;
  align-self: flex-end;
}
.message.receiver {
  background: #e9ecef;
  color: #000;
  align-self: flex-start;
}
#record-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
#record {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#record:hover {
  background: #0056b3;
}